body{
    background-image: url('assets/bg-header-desktop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Bai Jamjuree';
    width: 1440px;
}
p{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}
.c-icon{
    width: 5em;
    height: 5em;
    display: flex;
    border: solid 0.3em hsl(171, 66%, 44%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.c-icon p{
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    color: hsl(171, 66%, 44%);
}

h1{
   color: hsl(210, 10%, 33%);
   font-weight: 500;
}
.about-clipboard{
    width: 34em; 
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    text-align: center;
    line-height: 1.5em;
}
.clipboard-btn{
    margin-top: 2em;
}
.iOS-btn{
    padding: 10px 20px 10px 20px;
    background-color: rgb(38, 186, 164);
    border: none;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(38, 186, 164, 0.3);
    color: white;
    font-weight: 600;
    margin-right: 1.5em;
}
.Mac-btn{
    padding: 10px 20px 10px 20px;
    background-color: rgb(97, 115, 255);
    border: none;
    border-radius: 16px;
    box-shadow: 3px 3px 3px rgba(97, 155, 255, 0.3);
    color: white;
    font-weight: 600;
}
.clipboard-track{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}
.clipboard-track h1{
    color: hsl(210, 10%, 33%);
    font-size: 2em;
    font-weight: 500;
}
.clipboard-track p{
    color: hsl(201, 11%, 66%);
    font-size: 16px;
    text-align: center;
    width: 40em;
    line-height: 1.5em;
}
.clipboard-process{
    width: 100%;
    height: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
}
.computer-png{
    width: 50%;
}
.image-computer{
  width: 40em;
  height: auto;
}
.process-explanations{
   width: 50%;
}
.process-explanations h1{
    color: hsl(210, 10%, 33%);
    font-size: 18px;
    font-weight: 500;
    padding-top: 25px;
}

.about-quick{
    color: hsl(201, 11%, 66%);
    font-size: 12px;
    width: 30em;
    line-height: 1.5em;
}
.sync{
    color: hsl(201, 11%, 66%);
    font-size: 12px;
    width: 20em;
    line-height: 1.5em;
}
.history{
    color: hsl(201, 11%, 66%);
    font-size: 12px;
    width: 20em;
    line-height: 1.5em;
}